---
import Layout from "@/layouts/Layout.astro";
import Map from "@/pages/localisation/Map.astro";
import { getElement } from "@stoati/astro";

const element = await getElement("location#location");

const loc = element[0].data[0].data[0];
---

<Layout>
  <main class="flex flex-col md:justify-center gap-8 items-center pt-8 px-4">
    <h1 class="text-xl font-bold">{loc.address}</h1>
    <Map
      latitude={loc.lat}
      longitude={loc.lon}
      zoom={16}
      containerId="map"
      containerClass="w-[500px] h-[400px]"
    />
    <a
      href={`https://www.google.com/maps/place/${loc.lat}+${loc.lon}`}
      target="_blank">Google Maps</a
    >
    <a
      href={`http://www.openstreetmap.org/?mlat=${loc.lat}&mlon=${loc.lon}&zoom=16`}
      target="_blank">Openstreetmap</a
    >
  </main>
</Layout>
